/*

// #1F271B Pine Tree
// #0B4F6C Blue Sapphire
// #145C9E Lapis Lazulli
// #CBB9A8 Pale Silver
// #DCC7BE Chanpagne Pink

*/

html,
body {
    height: 100%;
    background-color: #e4ebe4;
    overflow-y: hidden;
}

/* #header {
} */

.source-header {
    color: #FF7F11;
    padding-bottom: 5px;
    padding-left: 15px;
    margin: 0;
    font-size: large;
}

.syntax-highlight-container {
    /* height: 100%; */
    margin: 0 15 0 15;
}

#editor-area {
    display: flex;
    flex-direction: row;
    height: 80%;
}

#editor-area-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.source-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

#source-in {
    flex-grow: 6;
}

#source-out {
    flex-grow: 6;
}

#middle-panel {
    flex-grow: 1;
    background-color: #e4ebe4;
}

#editor-control-panel {
    height: 7%;
    width: 100%;
    margin: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
}

.editor-control-container {
    width: 15%;
    margin: 15px 15px 15px 0;
}

#insight-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #FAFFFA;
    border-top: #1F271B solid 1.5px;
    font-size: 20px;
    color: #1F271B;
    text-align: justify;
    padding: 10px;
    padding-top: 20px;
    left: 0;
    height: 10px;
    transition: height 0.15s;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    overflow-x:hidden;
}

#insight-panel:hover {
    height: 300px !important;
}

.info-item {
    white-space: pre-wrap;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#fix-panel-switch {
    float: right;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0B4F6C;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0B4F6C;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#fixed-panel-switch-lbl {
    margin-top: 30px;
}

#selected-line-span {
    margin-left: 10px;
    margin-bottom: 25px;
    font-weight: bold;
}

.info-item {
    margin: 0px 30px 20px 10px;
    padding: 10px;
    border-style: solid;
    border-color: #0B4F6C;
    border-radius: 5px;
    border-width: 1px;
    background-color: #e4ebe4;
}

.info-item-header {
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.info-item-description {
    margin-top: 5px;
    font-size: smaller;
}
